{% extends 'layout.twig' %}

{% block title %}QuizRace{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-background-muted{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block center %}
      <a class="uk-navbar-item uk-logo" href="{{ basePath }}/landing">QuizRace</a>
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Preise</a></li>
        <li><a href="#contact">Kontakt</a></li>
        <li><a href="{{ basePath }}/login">Login</a></li>
      </ul>
    {% endblock %}
    {% block right %}
      <a class="uk-button uk-button-primary" href="{{ basePath }}/login">Kostenlos testen</a>
    {% endblock %}
  {% endembed %}
  {{ content|raw }}
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/app.js"></script>
{% endblock %}
