{% extends 'layout.twig' %}

{% block title %}QuizRace – Das interaktive Team-Quiz für Events{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
  <link rel="stylesheet" href="{{ basePath }}/css/calhelp.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block body_class %}landing-page{% endblock %}

{% block body %}
  <div>
    {% embed 'topbar.twig' %}
      {% block left %}
        <a class="uk-logo" href="{{ basePath }}/landing">QuizRace</a>
        {% endblock %}
      {% block center %}
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Preise</a></li>
          <li><a href="#contact-us">Kontakt</a></li>
          <li><a href="{{ basePath }}/faq">FAQ</a></li>
          <li><a href="{{ basePath }}/login">Login</a></li>
        </ul>
      {% endblock %}
      {% block right %}
        <a class="uk-navbar-item uk-button uk-button-primary" href="https://demo.quizrace.app" target="_blank" rel="noopener">Jetzt testen</a>
      {% endblock %}
    {% endembed %}

    {{ content|raw }}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/app.js"></script>
{% endblock %}
