{% extends 'layouts/cms_base.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}
{% set incomingDesign = design|default({}) %}
{% set effectiveAppearance = incomingDesign.appearance|default(appearance|default({})) %}
{% set design = incomingDesign|merge({
  theme: pageTheme|default(incomingDesign.theme|default('light')),
  appearance: effectiveAppearance
}) %}
{% set headerTheme = pageTheme|default(design.theme|default('light')) %}

{% set menuItems = menu|default([]) %}
{% set cmsMenuItems = menuItems|default([]) %}
{% set includeLegacyMarketingStyles = false %}
{% set logoSettings = headerLogo|default({}) %}
{% set logoMode = logoSettings.mode|default('text') %}
{% set logoSrc = logoSettings.src|default(null) %}
{% set logoLabel = logoSettings.label|default(pageTitle|default('QuizRace')) %}
{% set logoAlt = logoSettings.alt|default(logoLabel) %}
{% set cmsChatEnabled = (cmsChatEndpoint is defined and cmsChatEndpoint) or (featureFlags.chatEndpoint|default(false) == true) %}
{% set cookieConsent = cookieConsentConfig|default({}) %}
{% set cookieConsentEnabled = cookieConsent.enabled|default(false) %}

{% block body_theme %}
  {{ pageTheme|default('light') }}
{% endblock %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_class %}page-render cms-page-render uk-background-default{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="preload" href="{{ basePath }}/css/marketing.css" as="style">
  <link rel="stylesheet" href="{{ basePath }}/css/marketing.css">
  <script src="{{ basePath }}/js/marketing-design.js" defer></script>
{% endblock %}

{% block body %}
  {% include 'marketing/partials/design-data.twig' %}
  {% include 'pages/partials/header.twig' with {
    normalizedNamespace: normalizedNamespace,
    headerTheme: headerTheme,
    headerLogo: logoSettings,
    cmsMenuItems: cmsMenuItems,
    cmsMainNavigation: cmsMainNavigation|default([]),
    headerConfig: headerConfig|default({}),
    basePath: basePath,
    cmsSlug: cmsSlug,
    pageTitle: pageTitle
  } only %}

  <div
    class="cms-page"
    data-page-root
    data-page-slug="{{ cmsSlug }}"
    data-page-namespace="{{ pageNamespace }}"
    data-content-namespace="{{ contentNamespace }}"
  >
    <script
      type="application/json"
      data-json="page"
      data-page-slug="{{ cmsSlug }}"
      data-page-namespace="{{ pageJson.namespace ?? pageNamespace }}"
      data-content-namespace="{{ pageJson.contentNamespace ?? contentNamespace }}"
    >
      {{ pageJson|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
    </script>
  </div>

  <noscript>
    {{ content|raw }}
  </noscript>

  {% if cmsChatEnabled %}
    {% include 'marketing/partials/marketing-chat.twig' %}
  {% endif %}
  {% if cookieConsentEnabled %}
    {% include 'marketing/partials/cookie-consent.twig' with {
      privacyUrl: privacyUrl,
      cookieConsentConfig: cookieConsent
    } %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if cmsChatEnabled %}
    <script>
      window.marketingChatConfig = {
        endpoint: '{{ cmsChatEndpoint|default('')|e('js') }}',
        slug: '{{ cmsSlug|e('js') }}',
        csrfToken: '{{ csrf_token|default('')|e('js') }}',
        locale: '{{ locale() }}',
        texts: {
          intro: '{{ t('marketing_chat_intro_message')|e('js') }}',
          loading: '{{ t('marketing_chat_loading')|e('js') }}',
          errorGeneric: '{{ t('marketing_chat_error_generic')|e('js') }}',
          errorValidation: '{{ t('marketing_chat_error_validation')|e('js') }}',
          errorRateLimited: '{{ t('marketing_chat_error_rate_limited')|e('js') }}',
          sources: '{{ t('marketing_chat_sources')|e('js') }}',
          sourcesToggle: '{{ t('marketing_chat_sources_toggle')|e('js') }}',
          score: '{{ t('marketing_chat_score')|e('js') }}',
          empty: '{{ t('marketing_chat_empty')|e('js') }}',
          question: '{{ t('marketing_chat_question_label')|e('js') }}'
        }
      };
    </script>
    <script src="{{ basePath }}/js/marketing-chat.js" defer></script>
  {% endif %}
  {% if cookieConsentEnabled %}
    <script>
      window.cookieConsentConfig = {{ cookieConsent|json_encode|raw }};
    </script>
    <script src="{{ basePath }}/js/marketing-cookie.js" defer></script>
    <script src="{{ basePath }}/js/marketing-consent.js" defer></script>
  {% endif %}
{% endblock %}
