{% extends 'layouts/cms_base.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}
{% set incomingDesign = design|default({}) %}
{% set effectiveAppearance = incomingDesign.appearance|default(appearance|default({})) %}
{% set design = incomingDesign|merge({
  theme: pageTheme|default(incomingDesign.theme|default('light')),
  appearance: effectiveAppearance
}) %}
{% set headerTheme = pageTheme|default(design.theme|default('light')) %}

{% set menuItems = menu|default([]) %}
{% set cmsMenuItems = menuItems|default([]) %}
{% set logoSettings = headerLogo|default({}) %}
{% set logoMode = logoSettings.mode|default('text') %}
{% set logoSrc = logoSettings.src|default(null) %}
{% set logoLabel = logoSettings.label|default(pageTitle|default('QuizRace')) %}
{% set logoAlt = logoSettings.alt|default(logoLabel) %}

{% block body_theme %}
  {{ pageTheme|default('light') }}
{% endblock %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_class %}page-render uk-background-default{% endblock %}

{% block body %}
  {% include 'pages/partials/header.twig' with {
    normalizedNamespace: normalizedNamespace,
    headerTheme: headerTheme,
    headerLogo: logoSettings,
    cmsMenuItems: cmsMenuItems,
    cmsMainNavigation: cmsMainNavigation|default([]),
    headerConfig: headerConfig|default({}),
    basePath: basePath,
    cmsSlug: cmsSlug,
    pageTitle: pageTitle
  } only %}

  <div class="uk-container uk-container-expand">
    <main class="cms-page qr-page-renderer">
      <script
        type="application/json"
        data-json="page"
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageJson.namespace ?? pageNamespace }}"
        data-content-namespace="{{ pageJson.contentNamespace ?? contentNamespace }}"
      >
        {{ pageJson|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
      </script>

      <div
        class="qr-page-renderer"
        data-page-root
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageNamespace }}"
        data-content-namespace="{{ contentNamespace }}"
      ></div>
    </main>

    <noscript>
      {{ content|raw }}
    </noscript>
  </div>
{% endblock %}
