{% extends 'layouts/app_base.twig' %}

{% set includeLandingStyles = false %}
{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}
{% set incomingDesign = design|default({}) %}
{% set effectiveAppearance = incomingDesign.appearance|default(appearance|default({})) %}
{% set design = incomingDesign|merge({
  theme: pageTheme|default(incomingDesign.theme|default('light')),
  appearance: effectiveAppearance
}) %}
{% set headerTheme = pageTheme|default(design.theme|default('light')) %}
{% import 'marketing/partials/menu.twig' as menuMacros %}

{% set menuItems = menu|default([]) %}
{% set cmsMenuItems = menuItems|default([]) %}
{% set logoSettings = headerLogo|default({}) %}
{% set logoMode = logoSettings.mode|default('text') %}
{% set logoSrc = logoSettings.src|default(null) %}
{% set logoLabel = logoSettings.label|default(pageTitle|default('QuizRace')) %}
{% set logoAlt = logoSettings.alt|default(logoLabel) %}

{% block body_theme %}
  {{ pageTheme|default('light') }}
{% endblock %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_class %}page-render uk-background-default{% endblock %}

{% block body %}
  <header class="qr-topbar" data-namespace="{{ normalizedNamespace }}" data-theme="{{ headerTheme }}">
    {% embed 'topbar.twig' %}
      {% block left %}
        <a class="uk-logo" href="{{ basePath }}/{{ cmsSlug }}">
          {% if logoMode == 'image' and logoSrc %}
            <img src="{{ logoSrc }}" alt="{{ logoAlt }}">
          {% else %}
            {{ logoLabel }}
          {% endif %}
        </a>
      {% endblock %}

      {% block center %}
        {% if cmsMenuItems %}
          {{ menuMacros.render_menu(cmsMenuItems, 'uk-navbar-nav uk-visible@m') }}
        {% endif %}
      {% endblock %}

      {% block switches %}
        {% include 'components/config-menu.twig' with {
          show_help: headerConfig.show_help|default(false),
          show_language: headerConfig.show_language|default(true),
          show_theme_toggle: headerConfig.show_theme_toggle|default(true),
          show_contrast_toggle: headerConfig.show_contrast_toggle|default(true)
        } %}
      {% endblock %}

      {% block offcanvas %}
        {% if cmsMenuItems %}
          <div id="qr-offcanvas" uk-offcanvas="overlay: true; flip: true">
            <div class="uk-offcanvas-bar">
              <button class="uk-offcanvas-close git-btn" type="button" uk-close aria-label="{{ t('menu') }}"></button>
              {{ menuMacros.render_offcanvas(cmsMenuItems, 'uk-nav uk-nav-default') }}
            </div>
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}
  </header>

  <div class="uk-container uk-container-expand">
    <main class="cms-page qr-page-renderer">
      <script
        type="application/json"
        data-json="page"
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageJson.namespace ?? pageNamespace }}"
        data-content-namespace="{{ pageJson.contentNamespace ?? contentNamespace }}"
      >
        {{ pageJson|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
      </script>

      <div
        class="qr-page-renderer"
        data-page-root
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageNamespace }}"
        data-content-namespace="{{ contentNamespace }}"
      ></div>
    </main>

    <noscript>
      {{ content|raw }}
    </noscript>
  </div>
{% endblock %}
