{% extends 'layouts/app_base.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}
{% set effectiveAppearance = appearance|default({}) %}
{% set design = { theme: pageTheme|default('light'), appearance: effectiveAppearance } %}

{% block body_theme %}
  {{ pageTheme|default('light') }}
{% endblock %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_class %}page-render uk-background-default{% endblock %}

{% block body %}
  <div class="uk-container">
    <main class="cms-page">
      <script
        type="application/json"
        data-json="page"
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageNamespace }}"
      >
        {{ {
          namespace: pageNamespace,
          slug: cmsSlug,
          blocks: pageBlocks ?? []
        }|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
      </script>

      <div
        data-page-root
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageNamespace }}"
        data-content-namespace="{{ contentNamespace }}"
      ></div>
    </main>

    <noscript>
      {{ content|raw }}
    </noscript>
  </div>
{% endblock %}
