{% extends 'layouts/app_base.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_theme %}
  {% set namespaceThemeRaw = config.startTheme|default(null) %}
  {{ namespaceThemeRaw is same as(null)
    ? 'light'
    : (namespaceThemeRaw|lower == 'dark' ? 'dark' : 'light')
  }}
{% endblock %}

{% block body_class %}page-render uk-background-default{% endblock %}

{% block body %}
  <div class="uk-container">
    <main class="cms-page">
      <div
        id="cms-page-root"
        data-page-root
        data-page-slug="{{ cmsSlug }}"
        data-page-namespace="{{ pageNamespace }}"
        data-content-namespace="{{ contentNamespace }}"
      ></div>
    </main>

    <noscript>
      {{ content|raw }}
    </noscript>
  </div>
{% endblock %}
