{% extends 'admin/base.twig' %}

{% block title %}{{ t('tab_logs') }}{% endblock %}

{% block admin_head %}
  <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
  <div class="uk-container uk-container-large">
    <h2 class="uk-heading-bullet">{{ t('heading_logs') }}</h2>
  </div>
  <div class="uk-container uk-container-expand uk-margin">
    <h2>app.log</h2>
    {% if appLog %}
      <pre class="uk-text-small">{{ appLog|e }}</pre>
    {% else %}
      <p class="uk-text-muted">{{ t('text_no_logs') }}</p>
    {% endif %}
    <h2>stripe.log</h2>
    {% if stripeLog %}
      <pre class="uk-text-small">{{ stripeLog|e }}</pre>
    {% else %}
      <p class="uk-text-muted">{{ t('text_no_logs') }}</p>
    {% endif %}
    <h2>onboarding.log</h2>
    {% if onboardingLog %}
      <pre class="uk-text-small">{{ onboardingLog|e }}</pre>
    {% else %}
      <p class="uk-text-muted">{{ t('text_no_logs') }}</p>
    {% endif %}
    <h2>ssl_provisioning.log</h2>
    {% if sslProvisioningLog %}
      <pre class="uk-text-small">{{ sslProvisioningLog|e }}</pre>
    {% else %}
      <p class="uk-text-muted">{{ t('text_no_logs') }}</p>
    {% endif %}
    <h2>docker slim</h2>
    {% if slimLog %}
      <pre class="uk-text-small">{{ slimLog|e }}</pre>
    {% else %}
      <p class="uk-text-muted">{{ t('text_no_logs') }}</p>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/storage.js"></script>
{% endblock %}
