{% extends 'admin/base.twig' %}
{% set adminLayout = 'standard' %}

{% block title %}{{ t('tab_newsletter') }}{% endblock %}

{% block admin_head %}
  <script>
    window.marketingNewsletterConfigs = {{ marketingNewsletterConfigs|default({})|json_encode(constant('JSON_HEX_TAG') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_APOS') b-or constant('JSON_HEX_QUOT'))|raw }};
    window.marketingNewsletterSlugs = {{ marketingNewsletterSlugs|default([])|json_encode(constant('JSON_HEX_TAG') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_APOS') b-or constant('JSON_HEX_QUOT'))|raw }};
    window.marketingNewsletterStyles = {{ marketingNewsletterStyles|default([])|json_encode(constant('JSON_HEX_TAG') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_APOS') b-or constant('JSON_HEX_QUOT'))|raw }};
    window.marketingNewsletterStyleLabels = {{ {
      'primary': t('label_marketing_newsletter_style_primary'),
      'secondary': t('label_marketing_newsletter_style_secondary'),
      'link': t('label_marketing_newsletter_style_link')
    }|json_encode(constant('JSON_HEX_TAG') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_APOS') b-or constant('JSON_HEX_QUOT'))|raw }};
    window.transMarketingNewsletterSaved = '{{ t('message_marketing_newsletter_saved')|e('js') }}';
    window.transMarketingNewsletterError = '{{ t('message_marketing_newsletter_error')|e('js') }}';
    window.transMarketingNewsletterInvalidSlug = '{{ t('error_marketing_newsletter_invalid_slug')|e('js') }}';
    window.transMarketingNewsletterRemove = '{{ t('button_marketing_newsletter_remove_entry')|e('js') }}';
    window.transMarketingNewsletterEmpty = '{{ t('text_marketing_newsletter_empty')|e('js') }}';
  </script>
{% endblock %}

{% block content %}
  {% set activePageNamespace = pageNamespace|default('default') %}

  <div class="uk-container uk-container-large">
    <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-small uk-padding-remove-horizontal">
      <h1 class="uk-heading-bullet uk-margin-remove">{{ t('tab_newsletter') }}</h1>
      <div class="uk-flex uk-flex-middle uk-margin-small-left">
        {% include 'admin/partials/namespace_badge.twig' with { pageNamespace: activePageNamespace } %}
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-small">
    <div class="uk-container">
      {% set pageNamespaceOptions = available_namespaces|default([]) %}
      {% include 'admin/partials/namespace_select.twig' %}

      <ul uk-tab>
        <li class="{{ activeTab|default('campaigns') == 'campaigns' ? 'uk-active' : '' }}">
          <a href="#">{{ t('tab_newsletter_campaigns_short') }}</a>
        </li>
        <li class="{{ activeTab|default('campaigns') == 'cta' ? 'uk-active' : '' }}">
          <a href="#">{{ t('tab_newsletter_cta_short') }}</a>
        </li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          {% include 'admin/newsletter/_campaigns_tab.twig' %}
        </li>
        <li>
          {% include 'admin/newsletter/_cta_tab.twig' %}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/storage.js"></script>
  <script type="module" src="{{ basePath }}/js/admin.js"></script>
{% endblock %}
