{% import 'pages/partials/menu.twig' as cmsMenu %}
{% set cmsMenuItems = cmsMenuItems|default([]) %}
{% set headerLogo = headerLogo|default({}) %}
{% set headerTheme = headerTheme|default('light') %}
{% set headerConfig = headerConfig|default({}) %}
{% set logoMode = headerLogo.mode|default('text') %}
{% set logoSrc = headerLogo.src|default(null) %}
{% set logoLabel = headerLogo.label|default(pageTitle|default('QuizRace')) %}
{% set logoAlt = headerLogo.alt|default(logoLabel) %}

<header class="qr-topbar" data-namespace="{{ normalizedNamespace }}" data-theme="{{ headerTheme }}">
  {% embed 'topbar.twig' %}
    {% block left %}
      <a class="uk-logo" href="{{ basePath }}/{{ cmsSlug }}">
        {% if logoMode == 'image' and logoSrc %}
          <img src="{{ logoSrc }}" alt="{{ logoAlt }}">
        {% else %}
          {{ logoLabel }}
        {% endif %}
      </a>
    {% endblock %}

    {% block center %}
      {% if cmsMenuItems %}
        {{ cmsMenu.render_menu(cmsMenuItems, 'uk-navbar-nav uk-visible@m') }}
      {% endif %}
    {% endblock %}

    {% block switches %}
      {% include 'components/config-menu.twig' with {
        show_help: headerConfig.show_help|default(false),
        show_language: headerConfig.show_language|default(true),
        show_theme_toggle: headerConfig.show_theme_toggle|default(true),
        show_contrast_toggle: headerConfig.show_contrast_toggle|default(true)
      } %}
    {% endblock %}

    {% block offcanvas %}
      {% if cmsMenuItems %}
        <div id="qr-offcanvas" uk-offcanvas="overlay: true; flip: true">
          <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close git-btn" type="button" uk-close aria-label="{{ t('menu') }}"></button>
            {{ cmsMenu.render_offcanvas(cmsMenuItems, 'uk-nav uk-nav-default') }}
          </div>
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
</header>
