{% import 'components/standard_table.twig' as tables %}

<div id="backups" class="uk-card uk-card-default uk-card-body uk-margin">
  <h3 class="uk-heading-bullet">{{ t('heading_backups') }}</h3>
  <div class="uk-margin uk-child-width-1-1 uk-child-width-auto@s uk-grid-small uk-flex-right@s" uk-grid>
    <div>
      <button id="exportJsonBtn" class="uk-button uk-button-default uk-width-1-1" uk-tooltip="title: {{ t('tip_backup_export') }}; pos: right">{{ t('action_create_backup') }}</button>
    </div>
    <div>
      <button id="importJsonBtn" class="uk-button uk-button-default uk-width-1-1" uk-tooltip="title: {{ t('tip_backup_import') }}; pos: right">{{ t('action_restore_demo') }}</button>
    </div>
    <div>
      <button id="saveDemoBtn" class="uk-button uk-button-default uk-width-1-1" uk-tooltip="title: {{ t('tip_backup_save') }}; pos: right">{{ t('action_save_demo') }}</button>
    </div>
  </div>
  {% set backupRows %}{% include 'admin/_backup_table.twig' %}{% endset %}
  {% set headings = [
    { label: t('column_folder'), class: 'uk-table-expand' },
    { label: t('column_actions'), class: 'uk-table-shrink uk-text-right' },
  ] %}
  {{ tables.render(headings, 'backupTableBody', backupRows) }}
</div>
