{% set currentUid = currentEventUid|default('') %}
{% set currentName = currentEventName|default('') %}
<div
  class="qr-event-indicator uk-alert uk-alert-primary uk-flex uk-flex-middle uk-flex-between uk-margin-small-bottom"
  data-current-event-indicator
  data-current-event-uid="{{ currentUid }}"
  data-empty="{{ t('text_event_required') }}"
  data-none="{{ t('text_no_events') }}"
>
  <div class="uk-flex uk-flex-middle uk-flex-wrap" data-current-event-info{% if currentUid is empty %} hidden{% endif %}>
    <span class="uk-text-bold uk-margin-small-right">{{ t('label_event_current') }}:</span>
    <span data-current-event-name>{{ currentName }}</span>
  </div>
  <div class="uk-text-meta" data-current-event-empty{% if currentUid %} hidden{% endif %}>
    {{ t('text_event_required') }}
  </div>
</div>
