{% extends 'admin/base.twig' %}

{% block title %}{{ t('tab_sidebar_footer') }}{% endblock %}

{% block admin_head %}
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3/dist/purify.min.js"></script>
{% endblock %}

{% block content %}
  <div class="uk-container uk-container-large">
    <h1 class="uk-heading-bullet">{{ t('tab_sidebar_footer') }}</h1>
  </div>
  <div class="uk-container uk-container-large">
    {% set activePageNamespace = pageNamespace|default('default') %}
    {% include 'admin/partials/namespace_select.twig' %}
    {% include 'admin/navigation/_partials/footer_blocks_tab.twig' %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ basePath }}/js/admin.js"></script>
  <script>
    window.templateData = {
      menuDefinitions: {{ footer_menu_definitions|json_encode|raw }},
      footerLayout: {{ (footer_layout|default('equal'))|json_encode|raw }},
      csrfToken: {{ csrf_token|json_encode|raw }}
    };
  </script>
  <script type="module" src="{{ basePath }}/js/marketing-footer-blocks.js"></script>
{% endblock %}
