{% extends 'layout.twig' %}

{% set useNavigationTree = use_navigation_tree|default(false) %}

{% block config_color_styles %}{% endblock %}

{% block title %}{{ t('tab_navigation') }}{% endblock %}

{% block head %}
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3/dist/purify.min.js"></script>
  <script>
    window.csrfToken = '{{ csrf_token|e('js') }}';
  </script>
{% endblock %}

{% block body_class %}uk-background-muted uk-padding admin-page{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <button
        id="sidebarToggle"
        type="button"
        class="uk-navbar-toggle uk-visible@m uk-margin-small-right git-btn"
        aria-controls="adminSidebar"
        aria-expanded="true"
        aria-pressed="false"
        aria-label="{{ t('menu') }}"
      >
        <span uk-navbar-toggle-icon></span>
      </button>
      <button
        id="adminOffcanvasToggle"
        type="button"
        class="uk-navbar-toggle uk-hidden@m uk-margin-small-right git-btn"
        uk-navbar-toggle-icon
        uk-toggle="target: #qr-offcanvas"
        aria-controls="qr-offcanvas"
        aria-expanded="false"
        aria-haspopup="true"
        aria-label="{{ t('menu') }}"
      ></button>
      <a href="{{ basePath }}/admin/dashboard" class="uk-navbar-item uk-logo uk-margin-small-left uk-visible@s">
        QuizRace Admin
      </a>
    {% endblock %}
    {% block center %}
      {% include 'admin/components/namespace_breadcrumb.twig' %}
    {% endblock %}
    {% block offcanvas %}
      <div id="qr-offcanvas" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
          <button class="uk-offcanvas-close" type="button" uk-close aria-label="{{ t('menu') }}"></button>
          <h3 class="uk-margin-small">QuizRace</h3>
          {% include 'admin/_nav.twig' %}
        </div>
      </div>
    {% endblock %}
  {% endembed %}

  <div class="uk-grid-collapse" uk-grid>
    <aside id="adminSidebar" class="uk-width-1-4@m uk-width-1-5@l uk-visible@m qr-sidebar">
      <div class="uk-card qr-card uk-card-body qr-sidebar-card">
        {% include 'admin/_nav.twig' %}
      </div>
    </aside>
    <main class="uk-width-expand uk-padding-small@xs uk-padding">
      <div class="uk-container uk-container-large">
        <h1 class="uk-heading-bullet">{{ t('tab_navigation') }}</h1>
      </div>
      <div class="uk-container uk-container-large">
        {% set activePageNamespace = pageNamespace|default('default') %}
        {% include 'admin/partials/namespace_select.twig' %}

        <ul class="uk-subnav uk-subnav-pill uk-margin" uk-switcher="connect: #navigation-tab-content; animation: uk-animation-fade">
          <li><a href="#">{{ t('tab_navigation_menus_short') }}</a></li>
          <li><a href="#">{{ t('tab_navigation_assignments') }}</a></li>
          <li><a href="#">{{ t('tab_navigation_settings') }}</a></li>
        </ul>

        <ul id="navigation-tab-content" class="uk-switcher uk-margin">
          <li>
            {% include 'admin/navigation/_partials/menus_tab.twig' %}
          </li>
          <li>
            {% include 'admin/navigation/_partials/assignments_tab.twig' %}
          </li>
          <li>
            {% include 'admin/navigation/_partials/settings_tab.twig' %}
          </li>
        </ul>
      </div>
    </main>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ basePath }}/js/admin.js"></script>
  {% if useNavigationTree %}
    <script type="module" src="{{ basePath }}/js/marketing-menu-tree.js"></script>
  {% else %}
    <script type="module" src="{{ basePath }}/js/marketing-menu-admin.js"></script>
  {% endif %}
{% endblock %}
