{% extends 'admin/base.twig' %}

{% block title %}{{ t('tab_sidebar_menus') }}{% endblock %}

{% block admin_head %}
  <link rel="stylesheet" href="{{ basePath }}/css/menu-cards.css">
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3/dist/purify.min.js"></script>
{% endblock %}

{% block content %}
      <div class="uk-container uk-container-large">
        <h1 class="uk-heading-bullet">{{ t('tab_sidebar_menus') }}</h1>
      </div>
      <div class="uk-container uk-container-large">
        {% set activePageNamespace = pageNamespace|default('default') %}
        {% include 'admin/partials/namespace_select.twig' %}

        <ul class="uk-subnav uk-subnav-pill uk-margin" uk-switcher="connect: #navigation-tab-content; animation: uk-animation-fade">
          <li><a href="#">{{ t('tab_navigation_menus_short') }}</a></li>
          <li><a href="#">{{ t('tab_navigation_assignments') }}</a></li>
          <li><a href="#">{{ t('tab_navigation_footer_blocks') }}</a></li>
          <li><a href="#">{{ t('tab_navigation_settings') }}</a></li>
        </ul>

        <ul id="navigation-tab-content" class="uk-switcher uk-margin">
          <li>
            {% include 'admin/navigation/_partials/menus_tab.twig' %}
          </li>
          <li>
            {% include 'admin/navigation/_partials/assignments_tab.twig' %}
          </li>
          <li>
            {% include 'admin/navigation/_partials/footer_blocks_tab.twig' %}
          </li>
          <li>
            {% include 'admin/navigation/_partials/settings_tab.twig' %}
          </li>
        </ul>
      </div>
{% endblock %}

{% block scripts %}
  <script>
    window.csrfToken = '{{ csrf_token|e('js') }}';
  </script>
  <script type="module" src="{{ basePath }}/js/admin.js"></script>
  <script src="{{ basePath }}/js/marketing-menu-common.js"></script>
  <script src="{{ basePath }}/js/marketing-menu-cards.js"></script>
  <script>
    window.templateData = {
      menuDefinitions: {{ footer_menu_definitions|json_encode|raw }},
      footerLayout: {{ (footer_layout|default('equal'))|json_encode|raw }},
      csrfToken: {{ csrf_token|json_encode|raw }}
    };
  </script>
  <script type="module" src="{{ basePath }}/js/marketing-footer-blocks.js"></script>
{% endblock %}
