{% extends 'admin/base.twig' %}

{% block title %}{{ t('tab_sidebar_menus') }}{% endblock %}

{% block admin_head %}
  <link rel="stylesheet" href="{{ basePath }}/css/menu-cards.css">
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3/dist/purify.min.js"></script>
{% endblock %}

{% block content %}
  <div class="uk-container uk-container-large">
    <h1 class="uk-heading-bullet">{{ t('tab_sidebar_menus') }}</h1>
  </div>
  <div class="uk-container uk-container-large">
    {% set activePageNamespace = pageNamespace|default('default') %}
    {% include 'admin/partials/namespace_select.twig' %}

    {% include 'admin/navigation/_partials/header_standard_card.twig' %}
    {% include 'admin/navigation/_partials/menus_tab.twig' %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ basePath }}/js/admin.js"></script>
  <script src="{{ basePath }}/js/marketing-menu-common.js"></script>
  <script src="{{ basePath }}/js/marketing-menu-cards.js"></script>
{% endblock %}
