{% extends 'layout.twig' %}

{% block title %}Seite bearbeiten{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script type="module" src="{{ basePath }}/js/editorjs-pages.js"></script>
{% endblock %}

{% block body_class %}uk-background-muted uk-padding{% endblock %}

{% block body %}
  <div class="uk-container uk-container-expand">
    <h1 class="uk-heading-bullet">Seite bearbeiten: {{ slug }}</h1>
    <form method="post" class="uk-form-stacked">
      <input type="hidden" id="pageContent" name="content" value="{{ content|e('html_attr') }}">
      <div id="editor" class="editorjs">{{ content|raw }}</div>
      <div class="uk-margin-top">
        <button type="submit" class="uk-button uk-button-primary">Speichern</button>
        <a href="{{ basePath }}/{{ slug }}" target="_blank" class="uk-button uk-button-default">Vorschau</a>
      </div>
    </form>
  </div>
  {# Page editor initialization handled by editorjs-pages.js #}
{% endblock %}
