{% extends 'layout.twig' %}

{% block title %}Seite bearbeiten{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
  <link rel="stylesheet" href="{{ basePath }}/css/quill.snow.css">
  <script src="{{ basePath }}/js/quill.min.js"></script>
  <script src="{{ basePath }}/js/quill-html-edit.js"></script>
{% endblock %}

{% block body_class %}uk-background-muted uk-padding{% endblock %}

{% block body %}
  <div class="uk-container uk-container-expand">
    <h1 class="uk-heading-bullet">Seite bearbeiten: {{ slug }}</h1>
    <form method="post" class="uk-form-stacked">
      <input type="hidden" id="pageContent" name="content" value="{{ content|e('html_attr') }}">
      <div id="editor" class="quill-editor">{{ content|raw }}</div>
      <div class="uk-margin-top">
        <button type="submit" class="uk-button uk-button-primary">Speichern</button>
        <a href="{{ basePath }}/{{ slug }}" target="_blank" class="uk-button uk-button-default">Vorschau</a>
      </div>
    </form>
  </div>
  <script>
    const quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        toolbar: [
          [{ header: [1, 2, false] }],
          ['bold', 'italic', 'underline', 'link'],
          [{ list: 'ordered' }, { list: 'bullet' }],
          ['clean', 'html']
        ],
        htmlEditButton: {}
      }
    });
    document.querySelector('form').addEventListener('submit', () => {
      document.getElementById('pageContent').value = quill.root.innerHTML;
    });
  </script>
{% endblock %}
