<p>Hallo,</p>
<p>Ihr QuizRace wurde unter <a href="https://{{ domain }}">{{ domain }}</a> eingerichtet.</p>
<p>Verwalten Sie Ihre Fragenkataloge hier:</p>
<p><a href="{{ catalog_link }}">{{ catalog_link }}</a></p>
<p>Um das Admin-Passwort Ihrer Domain zu setzen oder zurückzusetzen, verwenden Sie folgenden Link:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Viel Erfolg!</p>
