{% extends 'emails/layout.twig' %}

{% block content %}
<p>Hallo,</p>
<p>Ihr QuizRace wurde unter <a href="https://{{ domain }}">{{ domain }}</a> eingerichtet.</p>
<p>Passen Sie Ihre Veranstaltung hier an:</p>
<p><a href="{{ admin_link }}">{{ admin_link }}</a></p>
<p>Um das Admin-Passwort Ihrer Domain zu setzen oder zurückzusetzen, verwenden Sie folgenden Link:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Viel Erfolg!</p>
{% endblock %}
