{% extends 'layout.twig' %}

{% block title %}Datenschutz{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-background-muted uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block mobile_menu_toggle %}{% endblock %}
    {% block left %}
      <a href="." class="uk-icon-button" uk-icon="icon: arrow-left; ratio: 2" title="Zurück" aria-label="Zurück"></a>
    {% endblock %}
    {% block center %}
      <span class="uk-navbar-title uk-text-center">Datenschutz</span>
    {% endblock %}
    {% block right %}
      <div class="theme-switch">
        <button id="theme-toggle" class="uk-icon-button" uk-icon="icon: moon; ratio: 2" aria-label="Design wechseln"></button>
      </div>
      <div class="contrast-switch uk-margin-small-left">
        <button id="contrast-toggle" class="uk-icon-button" uk-icon="icon: paint-bucket; ratio: 2" aria-label="Kontrastmodus"></button>
      </div>
    {% endblock %}
    {% block offcanvas %}{% endblock %}
  {% endembed %}
  {{ content|raw }}
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/app.js"></script>
  <script src="{{ basePath }}/js/custom-icons.js"></script>
{% endblock %}
