{% extends 'layout.twig' %}

{% block title %}Veranstaltungen{% endblock %}

{% block head %}
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block center %}
      <span class="uk-navbar-title uk-text-center">Veranstaltungen</span>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-container-large">
    {% from 'components/table.twig' import qr_table %}
    {% set rows %}
      {% for ev in events %}
        <tr>
          <td>
            <a href="{{ basePath }}/?event={{ ev.uid }}" class="uk-link-heading">{{ ev.name }}</a>
          </td>
          <td>{{ ev.description }}</td>
          <td class="uk-text-nowrap">
            {% if role in ['admin','event-manager'] %}
            <button type="button" class="uk-button uk-button-primary event-action toggle-publish" data-uid="{{ ev.uid }}" data-published="{{ ev.published ? 'true' : 'false' }}">
              {{ ev.published ? 'Nicht veröffentlichen' : 'Veröffentlichen' }}
            </button>
            {% endif %}
            <button type="button" class="uk-button uk-button-default event-action copy-link" data-link="{{ basePath }}/?event={{ ev.uid }}">Link kopieren</button>
          </td>
        </tr>
      {% endfor %}
    {% endset %}
    {{ qr_table([
      { 'label': t('column_name'), 'key': 'name' },
      { 'label': t('column_description'), 'key': 'description' },
      { 'label': t('column_actions'), 'class': 'uk-table-shrink' }
    ], 'eventsTableBody', false, table_id='eventsTable', wrap_class='uk-overflow-auto qr-table-wrap', body_html=rows) }}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
  <script src="{{ basePath }}/js/app.js"></script>
  <script src="{{ basePath }}/js/events.js" data-base="{{ basePath }}"></script>
{% endblock %}
