{% extends 'layout.twig' %}

{% block title %}Veranstaltungen{% endblock %}

{% block head %}
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block center %}
      <span class="uk-navbar-title uk-text-center">Veranstaltungen</span>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-container-large">
    {% set rows %}
      {% for ev in events %}
        <tr>
          <td>
            <a href="{{ basePath }}/?event={{ ev.uid }}" class="uk-link-heading">{{ ev.name }}</a>
          </td>
          <td>{{ ev.description }}</td>
          <td class="uk-text-nowrap">
            {% if role in ['admin','event-manager'] %}
            <button type="button" class="uk-button uk-button-primary event-action toggle-publish" data-uid="{{ ev.uid }}" data-published="{{ ev.published ? 'true' : 'false' }}">
              {{ ev.published ? 'Nicht veröffentlichen' : 'Veröffentlichen' }}
            </button>
            {% endif %}
            <button type="button" class="uk-button uk-button-default event-action copy-link" data-link="{{ basePath }}/?event={{ ev.uid }}">Link kopieren</button>
          </td>
        </tr>
      {% endfor %}
    {% endset %}
    <div class="uk-overflow-auto">
      <table id="eventsTable" class="uk-table uk-table-divider uk-table-small uk-table-hover">
        <thead>
          <tr>
            <th>{{ t('column_name') }}</th>
            <th>{{ t('column_description') }}</th>
            <th class="uk-table-shrink">{{ t('column_actions') }}</th>
          </tr>
        </thead>
        <tbody id="eventsTableBody">{{ rows|raw }}</tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
  <script src="{{ basePath }}/js/app.js"></script>
  <script src="{{ basePath }}/js/events.js" data-base="{{ basePath }}"></script>
{% endblock %}
