{% extends 'layout.twig' %}

{% block title %}{{ t('title_help') }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  {% set cfg = config is defined ? config : {} %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css" media="all">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block center %}
      <span class="uk-navbar-title uk-text-center">{{ t('game_flow') }} <br>{{ event.name|default('Sommerfest 2025') }}</span>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-container-small">
    {% if config.inviteText %}
    <div class="modern-info-card uk-card qr-card uk-card-body uk-box-shadow-medium uk-margin">
      <article class="uk-article uk-margin-remove">{{ config.inviteText|uikitify|raw }}</article>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
  <script src="{{ basePath }}/js/storage.js"></script>
  <script>
    window.quizConfig = {{ config|json_encode|raw }};
  </script>
{% endblock %}
