{% extends 'layout.twig' %}

{% block title %}Impressum{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css" media="all">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-background-muted uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <a href="." class="uk-icon-button" uk-icon="icon: arrow-left; ratio: 2" title="Zurück" aria-label="Zurück"></a>
    {% endblock %}
    {% block center %}
      <span class="uk-navbar-title uk-text-center">Impressum</span>
    {% endblock %}
  {% endembed %}
  {{ content|raw }}
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
{% endblock %}
