{% extends 'layout.twig' %}

{% block title %}{{ config.pageTitle|default('Modernes Quiz mit UIkit') }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/dark.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/highcontrast.css">
{% endblock %}

{% block body_class %}index-page uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <a href="faq" class="uk-icon-button" uk-icon="icon: question; ratio: 2" title="Hilfe" aria-label="Hilfe"></a>
    {% endblock %}
    {% block center %}
      <span id="topbar-title" class="uk-navbar-title uk-text-center" data-default-title="{{ event.name|default('Sommerfest 2025') }}">{{ event.name|default('Sommerfest 2025') }}</span>
    {% endblock %}
    {% block right %}
      <div class="theme-switch">
        <button id="theme-toggle" class="uk-icon-button" uk-icon="icon: moon; ratio: 2" aria-label="Design wechseln"></button>
      </div>
      <div class="contrast-switch uk-margin-small-left">
        <button id="contrast-toggle" class="uk-icon-button" uk-icon="icon: paint-bucket; ratio: 2" aria-label="Kontrastmodus"></button>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-width-1-1 uk-width-1-2@s uk-width-2-3@m">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-margin">
      <div id="quiz-header" class="uk-text-center uk-margin">
        <img id="quiz-logo" class="logo-placeholder" src="{{ config.logoPath|default('') }}" alt="Logo">
      </div>
      <progress id="progress" class="uk-progress" value="0" max="1" aria-label="Fortschritt des Quiz" aria-valuenow="0"></progress>
      <span id="question-announcer" class="uk-hidden-visually" aria-live="polite"></span>
      <div id="quiz"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/uikit-icons.min.js"></script>
  <script src="/js/custom-icons.js"></script>
  <script src="https://unpkg.com/html5-qrcode@2.3.7/html5-qrcode.min.js"></script>
  <script>
    window.quizConfig = {{ config|json_encode|raw }};
  </script>
  <script id="catalogs-data" type="application/json">
    {{ catalogs|json_encode|raw }}
  </script>
  <script src="/js/catalog.js"></script>
  <script src="/js/confetti.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <script src="/js/quiz.js"></script>
  <script src="/js/app.js"></script>
{% endblock %}
