{% extends 'layout.twig' %}

{% block title %}{{ config.pageTitle|default('Modernes Quiz mit UIkit') }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ base_path }}/css/dark.css">
  <link rel="stylesheet" href="{{ base_path }}/css/main.css">
{% endblock %}

{% block body_class %}index-page uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <a href="faq" class="uk-icon-button" uk-icon="icon: question; ratio: 2" title="Hilfe" aria-label="Hilfe"></a>
    {% endblock %}
    {% block center %}
      <span class="uk-navbar-title">Sommerfest 2025</span>
    {% endblock %}
    {% block right %}
      <div class="theme-switch">
        <button id="theme-toggle" class="uk-icon-button" uk-icon="icon: moon; ratio: 2" aria-label="Design wechseln"></button>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-width-1-1 uk-width-1-2@s uk-width-2-3@m">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-margin">
      <div id="quiz-header" class="uk-text-center uk-margin"></div>
      <progress id="progress" class="uk-progress" value="0" max="1" aria-label="Fortschritt des Quiz"></progress>
      <div id="quiz"></div>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin">
      <h3 class="uk-heading-bullet">Informationen zur Quiz-Anwendung</h3>
      <p>Die Sommerfeier 2025 Quiz-App ist das Ergebnis einer engen Zusammenarbeit von menschlicher Erfahrung und k&uuml;nstlicher Intelligenz. Die Ideen, das Projektmanagement und die Praxiserfahrung aus vielen Softwareprojekten stammen von Menschenhand &ndash; alle Codezeilen und Optimierungen wurden jedoch bewusst vollst&auml;ndig vom OpenAI Codex Coding-Assistenten generiert.</p>
      <p>Dieses Projekt zeigt, wie KI-Technologie bereits heute in der Softwareentwicklung eingesetzt werden kann: Menschen liefern Kreativit&auml;t und Struktur, der KI-Assistent &uuml;bernimmt die Umsetzung im Code. So entsteht eine echte Symbiose aus menschlicher Steuerung und maschineller Programmierung.</p>
      <p>Der Quellcode ist offen auf GitHub verf&uuml;gbar: <a href="https://github.com/bastelix/sommerfest-quiz">https://github.com/bastelix/sommerfest-quiz</a></p>
      <p>Die Software steht unter der MIT-Lizenz (Details siehe <code>LICENSE</code>-Datei).</p>
      <p><strong>Datenschutz:</strong> Das Quiz wird zentral &uuml;ber einen Server bereitgestellt. Je nach Einstellung k&ouml;nnen Ergebnisdaten serverseitig verarbeitet oder gespeichert werden. Personenbezogene Daten werden dabei nicht erfasst &ndash; beim Export der Datei <code>statistical.log</code> werden ausschlie&szlig;lich Pseudonyme und Punktzahlen gespeichert. Details zum Datenschutz entnehmen Sie bitte der Datenschutzerkl&auml;rung.</p>
      </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ base_path }}/js/uikit-icons.min.js"></script>
  <script src="{{ base_path }}/js/custom-icons.js"></script>
  <script src="https://unpkg.com/html5-qrcode@2.3.7/html5-qrcode.min.js"></script>
  <script>
    window.quizConfig = {{ config|json_encode|raw }};
  </script>
  <script id="catalogs-data" type="application/json">
    [
      {
        "id": "station_1",
        "file": "station_1.json",
        "name": "Station-1",
        "description": "Speicher und Geraete"
      },
      {
        "id": "station_2",
        "file": "station_2.json",
        "name": "Station-2",
        "description": "Bedienung und Symbole"
      },
      {
        "id": "station_3",
        "file": "station_3.json",
        "name": "Station-3",
        "description": "WWW und Speicherarten"
      },
      {
        "id": "station_4",
        "file": "station_4.json",
        "name": "Station-4",
        "description": "Begriffe und Geraetegroessen"
      },
      {
        "id": "station_5",
        "file": "station_5.json",
        "name": "Station-5",
        "description": "Programme und Binaersystem"
      },
      {
        "id": "station_6",
        "file": "station_6.json",
        "name": "Station-6",
        "description": "Dateien und URLs"
      },
      {
        "id": "station_7",
        "file": "station_7.json",
        "name": "Station-7",
        "description": "Netzwerke und Kuerzel"
      },
      {
        "id": "station_8",
        "file": "station_8.json",
        "name": "Station-8",
        "description": "Cloud und Steuerung"
      }
    ]
  </script>
  <script src="{{ base_path }}/js/catalog.js"></script>
  <script src="{{ base_path }}/js/confetti.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <script src="{{ base_path }}/js/quiz.js"></script>
  <script src="{{ base_path }}/js/app.js"></script>
{% endblock %}
