<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="description" content="Interaktives QuizRace für Teams und Freunde">
  <meta property="og:title" content="QuizRace">
  <meta property="og:description" content="Spielen Sie ein spannendes Quiz bei Ihrem Event">
  <meta property="og:image" content="{{ basePath }}/favicon.svg">
  <meta name="twitter:card" content="summary_large_image">
  <title>{% block title %}Quiz{% endblock %}</title>
  <link rel="icon" href="{{ basePath }}/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ basePath }}/css/uikit.min.css">
  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
  <div class="footer-placeholder"></div>
  <nav class="uk-navbar-container bottombar" uk-navbar>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li><a href="{{ basePath }}/datenschutz">Datenschutz</a></li>
        <li><a href="{{ basePath }}/impressum">Impressum</a></li>
        <li><a href="{{ basePath }}/lizenz">Lizenz</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item uk-margin-small-right">
        <a href="https://bastelix.github.io/sommerfest-quiz/" target="_blank" rel="noopener" class="uk-icon-button" uk-icon="icon: handbook; ratio: 2" uk-tooltip="title: Handbuch öffnen" aria-label="Handbuch"></a>
      </div>
    </div>
  </nav>
  <script src="{{ basePath }}/js/uikit.min.js"></script>
  <script src="{{ basePath }}/js/uikit-icons.min.js"></script>
  <script>window.basePath = '{{ basePath }}';</script>
  <script src="{{ basePath }}/js/i18n/de-de.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
