{% extends 'layout.twig' %}

{% block title %}Lizenz{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-background-muted uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block mobile_menu_toggle %}
      <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-nav" uk-toggle>
        <span uk-navbar-toggle-icon></span>
      </a>
    {% endblock %}
    {% block left %}
      <a href="." class="uk-icon-button" uk-icon="icon: arrow-left; ratio: 2" title="Zurück" aria-label="Zurück"></a>
    {% endblock %}
    {% block center %}
      <span class="uk-navbar-title uk-text-center">Lizenz</span>
    {% endblock %}
    {% block right %}
      {% include '_topbar_controls.twig' %}
    {% endblock %}
  {% endembed %}
  {{ content|raw }}
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
  <script src="{{ basePath }}/js/app.js"></script>
{% endblock %}
