{% extends 'layout.twig' %}

{% block title %}Onboarding{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}{% endembed %}
  <div class="uk-container uk-margin-large-top">
    <div class="uk-card uk-card-default uk-card-body onboarding-step uk-width-1-1 uk-width-1-2@m uk-margin-auto" id="step1">
      <h3 class="uk-card-title">1. E-Mail eingeben und bestätigen</h3>
      <div class="uk-margin">
        <input id="email" class="uk-input" type="email" placeholder="E-Mail-Adresse" required>
      </div>
      <p>Nach Klick auf die Schaltfläche verschicken wir eine E-Mail mit einem Bestätigungslink. Öffne diesen Link, um deine Adresse zu verifizieren und die Registrierung fortzusetzen.</p>
      <button class="uk-button uk-button-primary" id="sendEmail">Bestätigung senden</button>
      <div id="emailStatus" class="uk-margin-small-top uk-text-success" hidden></div>
    </div>

    <div class="uk-card uk-card-default uk-card-body onboarding-step uk-width-1-1 uk-width-1-2@m uk-margin-auto" id="step2" hidden>
      <h3 class="uk-card-title">2. Subdomain wählen</h3>
      <div id="verifiedHint" class="uk-alert-success" uk-alert hidden>
        <p>Deine E-Mail-Adresse wurde erfolgreich bestätigt.</p>
      </div>
      <div class="uk-margin">
        <input id="subdomain" class="uk-input" type="text" placeholder="gewünschte Subdomain" required>
        <div class="uk-margin-small-top uk-text-meta">Die vollständige Adresse lautet: <span id="subdomainPreview"></span>.{{ main_domain }}</div>
      </div>
      <p>Gib eine gewünschte Subdomain ein (z.&nbsp;B. <code>meine-seite</code>) und bestätige mit der Schaltfläche. Wir prüfen die Verfügbarkeit und reservieren sie für dich.</p>
      <button class="uk-button uk-button-primary" id="saveSubdomain">Subdomain speichern</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    window.mainDomain = '{{ main_domain }}';
    window.csrfToken = '{{ csrf_token|e('js') }}';
  </script>
  <script src="{{ basePath }}/js/onboarding.js"></script>
{% endblock %}

