{% extends 'layout.twig' %}

{% block title %}Passwort zur端cksetzen{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css" media="all">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}{% endembed %}
  <div class="uk-container uk-flex uk-flex-center uk-margin-large-top">
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-width-1-1 uk-margin-auto uk-card qr-card uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-text-center">Passwort zur端cksetzen</h3>
        {% if success %}
        <div class="uk-alert-success" uk-alert>
          <p>Falls die E-Mail existiert, wurde ein Link gesendet.</p>
          <p><a href="{{ basePath }}/login">Zur端ck zum Login</a></p>
        </div>
        {% elseif error %}
        <div class="uk-alert-danger" uk-alert>
          <p>Anfrage fehlgeschlagen.</p>
          <p><a href="{{ basePath }}/login">Zur端ck zum Login</a></p>
        </div>
        {% endif %}
        <form method="post" action="/password/reset/request">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: mail"></span>
              <input class="uk-input uk-form-large" type="email" name="email" id="email" placeholder="E-Mail" required>
            </div>
          </div>
          <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Link senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
{% endblock %}
