{% extends 'layout.twig' %}

{% block title %}Registrieren{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css" media="all">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}{% endembed %}
  <div class="uk-container uk-flex uk-flex-center uk-margin-large-top">
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-width-1-1 uk-margin-auto uk-card qr-card uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-text-center">Registrieren</h3>
        {% if not allowed %}
        <div class="uk-alert-danger" uk-alert>
          <p>Registrierung derzeit nicht möglich.</p>
        </div>
        {% elseif success %}
        <div class="uk-alert-success" uk-alert>
          <p>Registrierung gespeichert. Ein Admin muss den Account freischalten.</p>
        </div>
        {% else %}
          {% if error %}
          <div class="uk-alert-danger" uk-alert>
            <p>
              {% if error_message %}
                {{ error_message }}
              {% else %}
                Eingaben ungültig oder Passwörter stimmen nicht überein.
              {% endif %}
            </p>
          </div>
          {% endif %}
          <form method="post" action="/register">
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-large" type="text" name="username" placeholder="Benutzername" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input uk-form-large" type="email" name="email" placeholder="E-Mail" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input uk-form-large" type="password" name="password" placeholder="Passwort" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input uk-form-large" type="password" name="password_repeat" placeholder="Passwort wiederholen" required>
              </div>
            </div>
            <div class="uk-margin">
              <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Registrieren</button>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
{% endblock %}
