{% extends 'layout.twig' %}

{% block title %}Auswertung{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <a href="{{ basePath }}/faq" class="uk-icon-button" uk-icon="icon: question; ratio: 2" title="Hilfe" aria-label="Hilfe"></a>
    {% endblock %}
    {% block center %}
      <div class="uk-flex uk-flex-middle">
        <div id="eventSelectWrap" class="uk-flex uk-flex-middle" hidden>
          <select id="eventSelect" class="uk-select"></select>
          <button id="eventOpenBtn" class="uk-icon-button uk-margin-small-left" uk-icon="icon: link-external" aria-label="{{ t('tip_event_open') }}" uk-tooltip="title: {{ t('tip_event_open') }}; pos: bottom"></button>
        </div>
        <span id="eventTitle" class="uk-navbar-title uk-text-center">{{ event.name|default('Sommerfest 2025') }}</span>
      </div>
    {% endblock %}
    {% block right %}
      <div class="theme-switch">
        <button id="theme-toggle" class="uk-icon-button" uk-icon="icon: moon; ratio: 2" aria-label="Design wechseln"></button>
      </div>
      <div class="contrast-switch uk-margin-small-left">
        <button id="contrast-toggle" class="uk-icon-button" uk-icon="icon: paint-bucket; ratio: 2" aria-label="Kontrastmodus"></button>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-bullet uk-margin-small-top">Herzlichen Glückwunsch, es wurden alle Kataloge gelöst!</h2>
    {% if config.teamResults is not defined or config.teamResults %}
    <button id="show-results-btn" class="uk-button uk-button-primary uk-margin-top">Ergebnisse anzeigen</button>
    {% endif %}
    {% if config.photoUpload is not defined or config.photoUpload %}
    <button id="upload-photo-btn" class="uk-button uk-button-primary uk-margin-top">Beweisfoto einreichen</button>
    {% endif %}
    {% if config.puzzleWordEnabled %}
    <button id="check-puzzle-btn" class="uk-button uk-button-primary uk-margin-top">Rätselwort prüfen</button>
    <p id="puzzle-solved-text" class="uk-margin-top"></p>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
  <script src="{{ basePath }}/js/app.js"></script>
  <script src="{{ basePath }}/js/events.js"></script>
  <script>
    window.quizConfig = {{ config|json_encode|raw }};
  </script>
  <script src="{{ basePath }}/js/summary.js"></script>
{% endblock %}
