{% extends 'layout.twig' %}

{% block title %}Auswertung{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block center %}
      <div class="uk-flex uk-flex-middle">
        <div id="eventSelectWrap" class="uk-flex uk-flex-middle" hidden>
          <div class="uk-form-custom uk-flex-1" uk-form-custom="target: > * > span:first-child">
            <select id="eventSelect" aria-label="{{ t('label_events') }}"></select>
            <button class="uk-button uk-button-default" type="button" tabindex="-1">
              <span></span>
              <span uk-icon="icon: chevron-down"></span>
            </button>
          </div>
          <button id="eventOpenBtn" class="uk-icon-button uk-margin-small-left" uk-icon="icon: link-external" aria-label="{{ t('tip_event_open') }}" uk-tooltip="title: {{ t('tip_event_open') }}; pos: bottom"></button>
        </div>
        <span id="eventTitle" class="uk-navbar-title uk-text-center">{{ event.name|default('Sommerfest 2025') }}</span>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-container-small uk-text-center">
    <div id="eventNotice" class="uk-alert uk-alert-primary" hidden data-empty="{{ t('text_no_events') }}" data-required="{{ t('text_event_required') }}" data-error="{{ t('text_events_fetch_error') }}"></div>
    <h2 class="uk-heading-bullet uk-margin-small-top">Herzlichen Glückwunsch, es wurden alle Kataloge gelöst!</h2>
    {% if config.teamResults is not defined or config.teamResults %}
    <button id="show-results-btn" class="uk-button uk-button-primary uk-margin-top">Ergebnisse anzeigen</button>
    {% endif %}
    {% if config.photoUpload is not defined or config.photoUpload %}
    <button id="upload-photo-btn" class="uk-button uk-button-primary uk-margin-top">Beweisfoto einreichen</button>
    {% endif %}
    {% if config.puzzleWordEnabled %}
    <button id="check-puzzle-btn" class="uk-button uk-button-primary uk-margin-top">Rätselwort prüfen</button>
    <p id="puzzle-solved-text" class="uk-margin-top"></p>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
  <script src="{{ basePath }}/js/app.js"></script>
  <script src="{{ basePath }}/js/events.js"></script>
  <script>
    window.quizConfig = {{ config|json_encode|raw }};
  </script>
  <script src="{{ basePath }}/js/storage.js"></script>
  <script src="{{ basePath }}/js/summary.js"></script>
{% endblock %}
