<nav class="uk-navbar-container topbar{% if nav_class is defined %} {{ nav_class }}{% endif %}" role="navigation" aria-label="{{ t('primary_navigation') }}" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        {% block left %}{% endblock %}
      </div>
    </div>
  <div class="uk-navbar-center">
    <div class="uk-navbar-item">
      {% block center %}{% endblock %}
    </div>
  </div>
      <div class="uk-navbar-right">
        <div class="uk-navbar-item uk-hidden@m">
          <button id="offcanvas-toggle"
                  type="button"
                  class="uk-navbar-toggle git-btn"
                  uk-navbar-toggle-icon
                  uk-toggle="target: #qr-offcanvas"
                  aria-controls="qr-offcanvas"
                  aria-expanded="false"
                  aria-haspopup="true"
                  aria-label="{{ t('menu') }}">
          </button>
        </div>
        {% block right %}{% endblock %}
        {% block help_button %}{% endblock %}
        {% block switches %}
          {% include 'components/config-menu.twig' %}
        {% endblock %}
      </div>
    </nav>
<div id="helpDrawer" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h3 class="uk-offcanvas-title">{{ t('help') }}</h3>
    <p>{{ t('help_modal_text')|raw }}</p>
  </div>
</div>
{% block headerbar %}{% endblock %}
