<nav class="uk-navbar-container uk-padding-small topbar" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        <a id="offcanvas-toggle" class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #qr-offcanvas" aria-label="{{ t('menu') }}">
          <span uk-navbar-toggle-icon></span>
        </a>
        {% block left %}{% endblock %}
      </div>
    </div>
  <div class="uk-navbar-center">
    <div class="uk-navbar-item">
      {% block center %}{% endblock %}
    </div>
  </div>
      <div class="uk-navbar-right">
        <div class="uk-navbar-item">
          {% block right %}{% endblock %}
        </div>
        {% block switches %}
        <div class="uk-navbar-item theme-switch">
        <button class="theme-toggle uk-button uk-button-link" uk-icon="icon: moon; ratio: 0.95" title="{{ t('design_toggle') }}" aria-label="{{ t('design_toggle') }}"></button>
      </div>
      <div class="uk-navbar-item contrast-switch">
        <button class="contrast-toggle uk-button uk-button-link" uk-icon="icon: paint-bucket; ratio: 0.95" title="{{ t('contrast_toggle') }}" aria-label="{{ t('contrast_toggle') }}"></button>
      </div>
        <div class="uk-navbar-item help-switch">
          {% block help_button %}
          <a id="helpBtn" href="{{ basePath }}/faq" class="uk-button uk-button-link" uk-icon="icon: question; ratio: 0.95" title="{{ t('help') }}" aria-label="{{ t('help') }}"></a>
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    </nav>
{% block headerbar %}{% endblock %}
{% block nav_placeholder %}
<div class="nav-placeholder"></div>
{% endblock %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const topbar = document.querySelector('.topbar');
    const navPlaceholder = document.querySelector('.nav-placeholder');

    function updateNavPlaceholder() {
      let height = topbar.offsetHeight;
      const headerBar = document.querySelector('.event-header-bar');
      if (headerBar) {
        height += headerBar.offsetHeight;
      }
      navPlaceholder.style.height = height + 'px';
    }

    if (topbar && navPlaceholder) {
      updateNavPlaceholder();
      if (window.getComputedStyle(topbar).flexWrap !== 'nowrap') {
        window.addEventListener('resize', updateNavPlaceholder);
      }
    }
  });
</script>
