{% macro render_menu(items, navClass, dropdownAttr) %}
  {% import _self as menu %}
  {% set dropdownAttr = dropdownAttr|default('uk-dropdown="offset: 20; delay-hide: 150; pos: bottom-left"') %}
  <ul class="{{ navClass }}">
    {% for item in items %}
      {{ menu.render_item(item, dropdownAttr) }}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro render_item(item, dropdownAttr) %}
  {% import _self as menu %}
  {% set children = item.children|default([]) %}
  {% set layout = item.layout|default('link') %}
  {% set hasChildren = children|length > 0 %}
  {% set href = item.href|default('#') %}
  {% set isExternal = item.isExternal|default(false) %}
  {% set icon = item.icon|default(null) %}
  {% set linkAttrs = [] %}
  {% if href starts with '#' %}
    {% set linkAttrs = linkAttrs|merge(['uk-scroll']) %}
  {% endif %}
  {% if isExternal %}
    {% set linkAttrs = linkAttrs|merge(['target="_blank"', 'rel="noopener"']) %}
  {% endif %}
  {% if layout in ['mega', 'dropdown'] and hasChildren %}
    {% set linkAttrs = linkAttrs|merge(['aria-haspopup="true"']) %}
  {% endif %}

  <li>
    <a href="{{ href }}"{% if linkAttrs is not empty %} {{ linkAttrs|join(' ')|raw }}{% endif %}>
      {% if icon %}
        <span class="uk-margin-small-right" uk-icon="icon: {{ icon }}"></span>
      {% endif %}
      {{ item.label }}
    </a>

    {% if layout == 'dropdown' and hasChildren %}
      <div class="uk-navbar-dropdown" {{ dropdownAttr|raw }}>
        <ul class="uk-nav uk-navbar-dropdown-nav">
          {% for child in children %}
            {{ menu.render_nav_link(child) }}
          {% endfor %}
        </ul>
      </div>
    {% elseif layout == 'mega' and hasChildren %}
      {% set columnGroups = [] %}
      {% set looseLinks = [] %}
      {% for child in children %}
        {% if child.children is defined and child.children|length %}
          {% set columnGroups = columnGroups|merge([child]) %}
        {% else %}
          {% set looseLinks = looseLinks|merge([child]) %}
        {% endif %}
      {% endfor %}
      {% if columnGroups is empty %}
        {% set columnGroups = [{'children': looseLinks}] %}
      {% elseif looseLinks is not empty %}
        {% set columnGroups = columnGroups|merge([{'children': looseLinks}]) %}
      {% endif %}

      {% set explainItems = [] %}
      {% for group in columnGroups %}
        {% for link in group.children|default([]) %}
          {% if link.detailTitle or link.detailText or link.detailSubline %}
            {% set explainItems = explainItems|merge([link]) %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      <div class="uk-navbar-dropdown uk-padding-remove" {{ dropdownAttr|raw }}>
        <div class="uk-grid-divider uk-grid-small uk-child-width-1-2@s" uk-grid>
          <div>
            <div class="uk-grid-small uk-child-width-1-2@s" uk-grid>
              {% for group in columnGroups %}
                <div>
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    {% for link in group.children|default([]) %}
                      {{ menu.render_nav_link(link, true) }}
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          </div>
          {% if explainItems is not empty %}
            <div class="menu-explain">
              {% for pane in explainItems %}
                {% set paneKey = pane.id|default(loop.index) %}
                <div class="explain-pane{% if not loop.first %} uk-hidden{% endif %}" data-explain-pane="{{ paneKey }}">
                  {% if pane.detailTitle %}
                    <h5>{{ pane.detailTitle }}</h5>
                  {% endif %}
                  {% if pane.detailText %}
                    <p>{{ pane.detailText }}</p>
                  {% endif %}
                  {% if pane.detailSubline %}
                    <p class="menu-explain__subline">{{ pane.detailSubline }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </li>
{% endmacro %}

{% macro render_nav_link(item, includeExplain) %}
  {% set href = item.href|default('#') %}
  {% set isExternal = item.isExternal|default(false) %}
  {% set linkAttrs = [] %}
  {% if href starts with '#' %}
    {% set linkAttrs = linkAttrs|merge(['uk-scroll']) %}
  {% endif %}
  {% if isExternal %}
    {% set linkAttrs = linkAttrs|merge(['target="_blank"', 'rel="noopener"']) %}
  {% endif %}
  {% if includeExplain and (item.detailTitle or item.detailText or item.detailSubline) and item.id is defined %}
    {% set linkAttrs = linkAttrs|merge(['data-explain="' ~ item.id ~ '"']) %}
  {% endif %}

  <li>
    <a href="{{ href }}"{% if linkAttrs is not empty %} {{ linkAttrs|join(' ')|raw }}{% endif %}>
      {{ item.label }}
    </a>
  </li>
{% endmacro %}

{% macro render_offcanvas(items, navClass) %}
  {% import _self as menu %}
  <ul class="{{ navClass }}">
    {% for item in items %}
      {{ menu.render_offcanvas_item(item) }}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro render_offcanvas_item(item) %}
  {% import _self as menu %}
  {% set href = item.href|default('#') %}
  {% set isExternal = item.isExternal|default(false) %}
  {% set children = item.children|default([]) %}
  {% set icon = item.icon|default(null) %}
  {% set linkAttrs = [] %}
  {% if href starts with '#' %}
    {% set linkAttrs = linkAttrs|merge(['uk-scroll']) %}
  {% endif %}
  {% if isExternal %}
    {% set linkAttrs = linkAttrs|merge(['target="_blank"', 'rel="noopener"']) %}
  {% endif %}

  <li>
    <a href="{{ href }}"{% if linkAttrs is not empty %} {{ linkAttrs|join(' ')|raw }}{% endif %}>
      {% if icon %}
        <span class="uk-margin-small-right" uk-icon="icon: {{ icon }}"></span>
      {% endif %}
      {{ item.label }}
    </a>
    {% if children is not empty %}
      <ul class="uk-nav-sub">
        {% for child in children %}
          {{ menu.render_offcanvas_item(child) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}
