{% set moduleItems = modules|default([]) %}
{% if moduleItems %}
  <div class="page-modules"
       data-page-modules-position="{{ position|default('')|e('html_attr') }}">
    <div class="uk-container">
      <div class="page-modules__grid marketing-grid">
        {% for module in moduleItems %}
          <div class="page-module"
               data-page-module-id="{{ module.id|e('html_attr') }}"
               data-page-module-type="{{ module.type|e('html_attr') }}"
               data-page-module-position="{{ module.position|e('html_attr') }}"
               data-page-module-config="{{ module.config|json_encode|e('html_attr') }}">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
