{% extends 'layout.twig' %}

{% block title %}Anmelden{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/main.css">
  <link rel="stylesheet" href="{{ basePath }}/css/dark.css" media="all">
  <link rel="stylesheet" href="{{ basePath }}/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}{% endembed %}
  <div class="uk-container uk-flex uk-flex-center uk-margin-large-top">
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-width-1-1 uk-margin-auto uk-card qr-card uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-text-center">Anmelden</h3>

        {% set error = app.request.queryParams.error|default('') %}
        {% if error %}
          <div class="uk-alert-danger" uk-alert>
            {% if error == 'state_mismatch' %}
              <p>Sitzung abgelaufen. Bitte erneut versuchen.</p>
            {% elseif error == 'account_inactive' %}
              <p>Dieses Konto ist deaktiviert.</p>
            {% else %}
              <p>Anmeldung fehlgeschlagen. Bitte erneut versuchen.</p>
            {% endif %}
          </div>
        {% endif %}

        {% if providers|length > 0 %}
          <div class="uk-margin">
            {% for provider in providers %}
              <a href="{{ basePath }}/auth/provider/{{ provider }}"
                 class="uk-button uk-button-default uk-button-large uk-width-1-1 uk-margin-small-bottom">
                {% if provider == 'google' %}
                  <span uk-icon="icon: google"></span> Mit Google anmelden
                {% else %}
                  Mit {{ provider|capitalize }} anmelden
                {% endif %}
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="uk-alert-warning" uk-alert>
            <p>Zurzeit sind keine Anmeldeverfahren konfiguriert.</p>
          </div>
        {% endif %}

        <div class="uk-margin uk-text-center">
          <span class="uk-text-muted">Noch kein Konto?</span>
          <a href="{{ basePath }}/auth/register">Registrieren</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ basePath }}/js/custom-icons.js"></script>
{% endblock %}
